@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    border-bottom: solid 2px #FF2A2A;
    color: #FF2A2A;
}

.dotActive {
    background-color: #444444;
    color: black;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
